body{
    background-image: url('https://media.istockphoto.com/id/1355579373/photo/human-body-glands-thyroid-gland-anatomy.jpg?s=612x612&w=0&k=20&c=lev8bOxRxjzHbUBBIATDgnAWBV2u67uMorDi0i2iNbQ=');
    background-size: cover; /* Scale the background image to cover the entire container */
    margin: 0;
    padding: 0 20px;
    font-family: Poppins;
    background-repeat: no-repeat;
}