.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1b2445;
  }
  .nav-logo{
    font-size: 18px;
    color: white;
  }
  .nav-menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 18px;
    gap: 50px;
    color: white;
  }